# Note : Dont Change the order of cells or add cells in between the cells in this notebook If you want to do rough works feel free to open a new python3 jupyter notebook

## 1.Import All necessary packages

In [1]:
import pandas as pd
import statistics
from hashlib import md5
import pickle
import hashlib

## 2.Read the avocado.csv file to a Pandas DataFrame

In [2]:
df = pd.read_csv('avocado.csv')

In [3]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

## 3.Find the mean of 'Total Volume' from 29 NOV 2015 to 13 april 2018 of Boston 'region'. Round off the output to 2 digits

In [4]:
tmp_df = df[df.Date>='2015-11-29'][df.Date<='2018-04-13'][df.region=='Boston']
a1 = round(tmp_df['Total Volume'].mean(),2)      #295854.27

C:\Users\SDS7695\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

## 4.Find the median of 'Total Bags' from 29 NOV 2015 to 13 april 2018 of Boston 'region'.Round off the output to 2 digits

In [5]:
a2 = round(tmp_df['Total Bags'].median(),2)     # 49575.64

## 5.Find the mode of 'AveragePrice' from 29 NOV 2015 to 13 april 2018 of Boston 'region'.Round off the output to 2 digits

In [6]:
a3 = statistics.mode(tmp_df['AveragePrice'])      # 1.59

## 6.Find the standard deviation of 'AveragePrice' from 29 NOV 2015 to 13 april 2018 of Boston 'region'.Round off the output to 2 digits

In [7]:
a4 = round(tmp_df['AveragePrice'].std(),2)       # 0.29

## 7.Find the variance of 'AveragePrice' from 29 Nov 2015 to 13 april 2018 of Boston 'region'.Round off the output to 2 digits

In [8]:
a5 = round(tmp_df['AveragePrice'].var(),2)      # 0.09

## Run the below cells to save your answers in pickle file

In [9]:
def get_pickle(file_name):
    with open(file_name, 'rb') as f:
        return pickle.load(f)

In [10]:
def geth(obj):
    obj = str(obj).encode()
    m = hashlib.md5()
    m.update( bytes(obj) )
    #print(m.hexdigest())

    return m.hexdigest()

In [11]:
def make_pickle(file_name, obj):
    with open(file_name, 'wb') as f:
        pickle.dump(geth(obj), f, pickle.HIGHEST_PROTOCOL)

In [ ]:
def pickling():
    make_pickle('q1.pickle', a1)
    make_pickle('q2.pickle', a2)
    make_pickle('q3.pickle', a3)
    make_pickle('q4.pickle', a4)
    make_pickle('q5.pickle', a5)
   
    
pickling()