### Directions
    - The data required for this task has been provided in the file 'data.csv'
    - Read the questions provided for each cell and assign your answers to respective variables provided in the following cell.
    - If answers are floating point numbers round of updo two floating point after the decimal
      - for example 10.546 should be read as 10.55, 10.544 as 10.54 and 10.1 as 10.10
    - pandas and numpy packages are preinstalled for this task which should be sufficient to complete this task.
    - If you need any other additional package run !pip3 install <package_name> --user in a new cell.
    - You can either try out the solution in the same notebook or free to create additional notebook, but make sure you come back to this notebook to answer the questions.
    - Please dont change variable name meant to assign your answers.
    - You can create a new notebook to write your scripts for EDA and use this notebook to assign the answers.

In [1]:
import pandas as pd
import numpy as np

In [2]:
### Read the data (this will not be graded)


data = pd.read_csv('data.csv')
data.head()

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (°F),Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F)
0,1/01/2009,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,0.0,40.1,34.5,44,27,29.762,29.596,41.4,59.0,40.1
1,2/01/2009,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,0.0,52.8,37.5,43,16,29.669,29.268,35.7,51.0,52.8
2,3/01/2009,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,0.0,41.2,6.7,89,35,30.232,29.260,25.3,38.0,41.2
3,4/01/2009,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,0.0,19.4,-0.0,79,35,30.566,30.227,12.7,20.0,32.0
4,5/01/2009,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,0.0,30.3,15.1,56,13,30.233,29.568,38.0,53.0,32.0

### What is the standard deviation of maximum windspeed across all the days

In [3]:
np.std(data['Maximum windspeed (mph)'])

13.05888392159811

In [4]:
ws_std = 13.06

### What is the difference between 50th percentile and 75th percentile of average temperature

In [6]:
np.percentile(data['Average temperature (°F)'],75)-np.percentile(data['Average temperature (°F)'],50)

12.200000000000003

In [7]:
p_range = 12.2

### What is the pearson correlation between average dew point and average temperature

In [8]:
np.corrcoef(data['Average dewpoint (°F)'],data['Average temperature (°F)'])[0][1]

0.7596091253567396

In [9]:
corr = 0.76

### Out of all the available records which month has the lowest average humidity.
    - Assign your answer as month index, for example if its July index is 7

In [10]:
data['Day'] = pd.to_datetime(data.Day,dayfirst=True)
data['year'] = data.Day.dt.year
data['month'] = data.Day.dt.month
data['date'] = data.Day.dt.day

In [11]:
data[data['Average humidity (%)']==data['Average humidity (%)'].min()]

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F),year,month,date
1300,2013-01-22,43.1,9,-11.9,30.0,16.8,24.0,245,0.00,0.00,...,14,6,30.100,29.931,35.7,46.0,50.9,2013,1,22
1301,2013-01-23,47.2,9,-8.9,30.0,10.5,15.3,253,0.00,0.00,...,15,6,30.074,29.906,26.5,35.7,56.7,2013,1,23
1619,2014-01-21,41.4,9,-13.9,30.1,17.5,24.8,246,0.03,0.03,...,75,5,30.248,29.916,33.4,49.5,49.4,2014,1,21

In [12]:
dew_month = 1

### Which month has the highest median for maximum_gust_speed out of all the available records. Also find the repective value
    - hint: group by month

In [13]:
data.groupby('month').agg({'Maximum gust speed (mph)':['median']}).reset_index()

   month Maximum gust speed (mph)
                           median
0      1                     32.2
1      2                     34.5
2      3                     31.1
3      4                     27.6
4      5                     26.0
5      6                     26.5
6      7                     24.2
7      8                     24.2
8      9                     24.2
9     10                     26.5
10    11                     32.2
11    12                     33.4

In [14]:
max_gust_value = 34.5
max_gust_month = 2

### Determine the average temperature between the months of March 2010 to May 2012 (including both the months)

In [15]:
new_data = data[data.Day>='2010-03-01'][data.Day<='2012-05-31']
new_data['Average temperature (°F)'].mean()

/home/user/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

45.3322962962963

In [16]:
avg_temp = 45.33

### Find the range of averange temperature  on Dec 2010

In [17]:
new_data = data[data.Day>='2010-12-01'][data.Day<='2010-12-31']
new_data['Average temperature (°F)'].max()-new_data['Average temperature (°F)'].min()

/home/user/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

44.8

In [18]:
temp_range = 44.8

### Out of all available records which day has the highest difference between maximum_pressure and minimum_pressure
    - assign the date in string format as 'yyyy-mm-dd'. Make sure you enclose it with single quote

In [19]:
data['max_pres_diff'] = data['Maximum pressure ']-data['Minimum pressure ']
data[data.max_pres_diff == data.max_pres_diff.max()]

,Day,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F),year,month,date,max_pres_diff
3067,2018-03-23,42.0,59,28.1,29.5,12.9,19.0,279,0.09,0.09,...,20,29.868,13.266,27.6,38.0,51.4,2018,3,23,16.602

In [20]:
max_p_range_day = '2018-03-23'

### How many days falls under median (i.e equal to median value) of barrometer reading.

In [23]:
data[data['Average barometer (in)']==data['Average barometer (in)'].median()].shape

(534, 24)

In [24]:
median_b_days =   534

### Out of all the available records how many days are within one standard deviation of average temperaturem

In [25]:
std = round(np.std(data['Average temperature (°F)']),2)
mean = round(np.mean(data['Average temperature (°F)']),2)

data[(data['Average temperature (°F)']>(mean-std))&(data['Average temperature (°F)']<(mean+std))].shape

(2092, 24)

In [26]:
num_days_std =  2092

## Once you are done with your solution make sure you have saved the notebook (ctrl + s)